@font-face {
  font-family: "MonumentExtended";
  src: url("./fonts/MonumentExtended-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonumentExtended";
  src: url("./fonts/MonumentExtended-Light.otf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "MonumentExtended";
  src: url("./fonts/MonumentExtended-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  cursor: none;
}

body {
  padding: 5rem 0;
  font-family: "MonumentExtended", sans-serif;
  background: url(https://media.giphy.com/media/14w5wo8wy3DbJS/giphy.gif)
    no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 4.5rem;
  padding-left: 1rem;
  color: white;
}

.comingsoon {
  transform: rotate(27deg);
  position: absolute;
  top: 6%;
  right: -22%;
  padding: 1.2rem 23rem;
  overflow: hidden;
  border: 2px solid white;
}

.comingsoon p {
  mix-blend-mode: multiply;
  font-size: 2.4rem;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px #ffff;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.countdown {
  position: absolute;
  bottom: 30px;
  right: 10px;
  z-index: -1;
  color: white;
  font-size: 2rem;
  font-family: "Source Code Pro", monospace;
}

.menu__item {
  mix-blend-mode: difference;
  width: fit-content;
  z-index: 3;
  position: relative;
  padding: 0 6vw;
}

.menu__item-link {
  display: block;
  position: relative;
  -webkit-text-stroke: 1.5px #ffff;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: opacity 0.4s;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
}

.menu__item-link::before {
  /* Reset all css properties */
  all: initial;
  /* font-family: sofia-pro, sans-serif; */
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  /* No cursor pointer */
  pointer-events: none;
}

.menu__item-link:hover {
  transition-duration: 0.1s;
  opacity: 0;
}

canvas {
  transform: rotate(5deg);
}

.img__container {
  z-index: 1;
  width: 640px;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  left: 100%;
  top: 45%;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}
.show_img {
  opacity: 1;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  transition: all 0.4s;
}
.menu {
  padding: 10vh 0 25vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 7vw;
}
.marquee {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  /* Inverte il colore con il background */
  mix-blend-mode: difference;
}
.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.4s;
}
.menu__item-link,
.marquee span {
  mix-blend-mode: difference;
  width: fit-content;
  white-space: nowrap;
  font-size: 7vw;
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
}
.marquee span {
  font-style: italic;
}
@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@media (max-width: 1200px) {
  .comingsoon {
    top: 6%;
    right: -32%;
  }
}

@media (min-width: 1450px) {
  .comingsoon {
    top: 5vw;
    right: -25vw;
  }
}

@media (min-width: 1600px) {
  .comingsoon {
    top: 4vw;
    right: -23vw;
  }
}

@media (min-width: 1700px) {
  .comingsoon {
    top: 3vw;
    right: -21vw;
  }
}
